[submodule "snippets/yasnippet-snippets"]
	path = snippets/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "w3m"]
	path = w3m
	url = https://github.com/venmos/w3m-layer.git
